@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
  font-family: "DM Sans", sans-serif; /* ฟอนต์ default */
}

/* ฟอนต์สำหรับ p และ span */
p,
span {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  letter-spacing: 0.01em;
}

/* ฟอนต์สำหรับ h1 */
h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 1; /* เพิ่มให้พอดีแบบ luxury */
}
